*{
    margin: 0;
    padding: 0;
}

.description{
    width: 80%;
    margin:60px auto;
    display: flex;
}

.img_article{
    width: 35%;
}

.img_article img{
    width: 100%;
}

.prospectus h2{
    margin:10px 0;
}

.prospectus{
    width: 62%;
    margin-left: 40px;
    font-size: 0.9em;
}

.prospectus table{
    margin-top: 10px;
}

.prospectus table td{
    padding-right: 70px;
    padding-top: 5px;
}

.notices{
    width: 80%;
    margin: 30px auto;
}

.notices .notices_hd{
    display: flex;
    padding-bottom: 8px;
    border-bottom: solid 2px rgb(150, 150, 150);  
    font-weight: bold;
}

.notices .notices_hd li{
    cursor: pointer;
    width: 150px;
    color: rgb(200, 200, 200);
}

.notices .notices_hd li:hover{
    color: rgb(73, 73, 73);   
}

.notices .notices_hd .active{
    color: rgb(196, 136, 38);
}

.notices .notices_bd{
    margin-top: 10px;
    box-shadow: 8px 8px 4px rgb(220, 220, 220);
    padding-top: 5px;
}

.notices .notices_bd li{
    padding: 15px 10px;
    display: none;
}

.notices .notices_bd .active{
    display: block;
}









@media screen and (min-width:576px) and (max-width:992px){
    .description{
        display: block;
    }
    .img_article{
        width: 100%;
        text-align: center;
    }

    .img_article img{
        width: 400px;   
    }

    .prospectus{
        margin-top: 30px;
        margin-left: 0;
        width: 100%;    
    }

    

}

@media screen and (max-width:576px){
    .description{
        display: block;
    }

    .img_article{
        width: 100%;
        text-align: center;
    }

    
    .img_article img{
        width: 100%;   
    }

    .prospectus{
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }


 
    

}




