*{
    margin: 0;
    padding: 0;
}

.article_page_article{
    width: 80%;
    margin:60px auto;
    display: flex;
}

.img_article{
    width: 35%;
}

.img_article img{
    width: 100%;
}

.prospectus h2{
    margin:10px 0;
}

.prospectus{
    width: 62%;
    margin-left: 40px;
    font-size: 0.9em;
}

.prospectus table{
    margin-top: 10px;
}

.prospectus table td{
    padding-right: 70px;
    padding-top: 5px;
}

.notices{
    width: 80%;
    margin: 30px auto;
}

.notices .notices_hd{
    display: flex;
    padding-bottom: 8px;
    border-bottom: solid 2px rgb(150, 150, 150);  
}

.notices .notices_hd li{
    margin-right: 60px;
    cursor: pointer;
}

.notices .notices_bd li{
    height: 268px;
    display: none;
}

.notices .notices_bd .active{
    display: block;



}









@media screen and (min-width:576px) and (max-width:992px){
    .article_page_article{
        display: block;
    }
    .img_article{
        width: 100%;
        text-align: center;
    }

    .img_article img{
        width: 400px;   
    }

    .prospectus{
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
        
    }

    

}

@media screen and (max-width:576px){
    .article_page_article{
        display: block;
    }

    .img_article{
        width: 100%;
        text-align: center;
    }

    
    .img_article img{
        width: 100%;   
    }

    .prospectus{
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }


 
    

}




