
.contact{
    width: 90%;
    margin: auto;
    color: rgb(58, 58, 58);
}



.formulaire fieldset{
    border:1px dashed rgb(196, 136, 38);
    padding: 40px 20px;
    margin-bottom: 15px;

}

.titre{
    background-color:rgb(196, 136, 38) ;
    font-size: 1.8em;
    text-align: center;
    height: 100px;
    padding-top:60px;
    margin-bottom: 50px;
}

.gerne{
    text-align: center;
    line-height: 40px;
}

.gerne label{
    display: inline-block;
    margin: 0 20px;

}

.colonnes{
    display: flex;
    justify-content: space-between;   
}

.colonnes .colonne{  
    width: 49%;
    margin: 5px 15px;
}

.colonnes .colonne p{
    margin-top: 15px;
     
  
}
.adresse{
    margin: 0 15px;   
    margin-top: 8px;
   
}


.message{
    margin: 10px 20px 0 15px;    
   
}

.formulaire label{
    display: inline-block;
    width: 140px;
    vertical-align: top;
}
.formulaire .gerne label{
    width: 20px;
}

.formulaire textarea{
    width: 95%;
    margin-top: 10px;
}

.bouton-contact{
    text-align: center;
}

.bouton-contact input{
    width:120px;
    height:50px;
    font-size:1em;
    margin:20px;
    background-color: rgb(196, 136, 38);
    border: none;
    font-weight: bold;
}

.acces{
    
    margin-top:50px;
    font-size:1.5em;
}

.acces iframe{
    width: 100%;
}





